h1 {
  width: 100%;
  position: absolute;
  top: 10px;
  text-align: center;
}

body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}

.prizeBoard {
  padding-left: 15px;
}

#qHeader {
  color: white;
  pointer-events: none;
}

/* General Button Style */

.button {
  position: relative;
  display: block;
  background: transparent;
  width: 350px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  color: white;
  margin: 40px auto;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 350px;
  left: 0px;
  height: 34px;
  z-index: -1;
}

.button:before {
  transform: perspective(15px) rotateX(3deg);
}
.button:after {
  top: 40px;
  transform: perspective(15px) rotateX(-3deg);
}

/* Button Border Style */

.button.border:before,
.button.border:after {
  border: 4px solid #c0c0c0;
  background-color: #002366;
}
.button.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.button.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}
.button.border:hover {
  color: #fff;
}
/* Button hover styles */

.button.border:hover:before,
.button.border:hover:after {
  background: #ff9633;
}

/* Question Header Style */

.questionHeader {
  position: relative;
  display: block;
  background: transparent;
  width: 450px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  padding-left: 10px;
  text-decoration: none;
  color: white;
  margin: 40px auto;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.questionHeader:before,
.questionHeader:after {
  position: absolute;
  content: "";
  width: 450px;
  left: 0px;
  height: 34px;
  z-index: -1;
}

.questionHeader:before {
  transform: perspective(15px) rotateX(3deg);
}
.questionHeader:after {
  top: 40px;
  transform: perspective(15px) rotateX(-3deg);
}

/* Button Border Style */

.questionHeader.border:before,
.questionHeader.border:after {
  border: 4px solid #c0c0c0;
  background-color: #002366;
}
.questionHeader.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.questionHeader.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

.questionHolder {
  width: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.answerHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  color: #ff9633;
}

.safety {
  color: white;
}

.selected {
  color: yellow;
}
